body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: red;
}

p {
    font-size: 40px;
    line-height: 1.5;
    color: pink;
}
